@import url("../variables.css");
.form__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background: var(--color__primary);
  border-radius: 30px;
  padding: 30px;
}

.form__wrapper h2 {
  text-align: center;
  color: var(--color__light);
  font-size: 35px;
}

.form__wrapper input {
  display: block;
  width: 320px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: var(--color__dark);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: var(--color__shadow);
  margin-bottom: 10px;
}

.login__button {
  width: 340px;
  background: var(--color__blue);
  color: var(--color__light);
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: block;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: var(--color__dark);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: var(--color__shadow);
  margin-bottom: 10px;
}